@import "tailwindcss";

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Elements reveal animation */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.show {
    opacity: 1;
    transform: translateY(0);
}

/* Hero image floating animation */
.float-animation {
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
